@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');

input{
    padding: 10px;
    background-color: #243847;
}

body{
    background-color: #0c2233;
    color: rgb(215, 215, 215);
    font-family: 'Sofia Sans', sans-serif;
    overflow-x: hidden;
}

select{
    background-color: #243847;
}

tr{
    background-color: #243847;
}