@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');

.container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.progressbarContainer{
    width: 40%;
    margin: 20px auto;
}

.gridHelper{
    width: 65.5%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 66.5% 33.5%;
}

.text{
    font-family: 'Sofia Sans', sans-serif;
}

.circularProgressBar{
    width: 125px;
}